{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: lightgreen;

}
.start_btn,
.rules_box
{
    position: absolute;
    top:45%;
    left:45%;
    transform: translate(-45%, -45%);
}

.start_btn button{
    font-size: 35px;
    font-weight: 500;
    color: blue;
    padding: 15px, 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;

}

.rules_box{
    width: 540px;
    background: white;
    border-radius: 5px;
    
}